.containerHome {
  background-color: #1c1c1c; /* Fundo quase preto */;
  height: calc(100vh - 50px);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.95rem;
}

.tabelaVazia {
  height: calc(70vh - 50px);
  margin: 0;
  padding: 0;
  color:aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabelaVazia h3, h4 {
  color:aliceblue;
}

.containerHome h3 {
  padding: 17px 0 0 0;
  color:aliceblue;
}

.containerHome li {
  color: whitesmoke;
  font-size: 0.9rem;
  margin-bottom: 2px;
}

.botaoNovoAdministrador {
  margin: 10px 0 5px 0;
  padding: 5px 16px;
  background-color: lightgrey;
  color:#1c1c1c;
  font-size: 1rem;
  border:none;
  border-radius: 5px;
  cursor:pointer;
}

.headerAdministradores {
  width: 100%;
  padding: 5px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.headerTituloInclui {
  width: 100%;
  padding: 5px;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.headerTituloInclui h3 {
  margin-right: 10px;
}

.headerTituloInclui button {
  margin-left: 10px;
}

.headerBoxes {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.selOptionsAdministrador {
  width: 168px;
}

.OrdenAdministradores{
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: aliceblue;
}

.botOrdenAdministrador {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
}

.botAscOrdenAdministrador {
  background-color: lightgrey;
  margin: 5px 10px 0 10px;
  border-radius: 5px;
}

.filtraAdministradores {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: aliceblue;
}

.selFiltroAdministrador {
  width: 100%;
  padding: 5px 0;
}

.filtraAdministradores button {
  margin: 0 5px;
  padding: 4px 8px;
  background-color: lightgrey;
  color:#1c1c1c;
  border:none;
  border-radius: 5px;
  cursor:pointer;
}

.containerDadosAdministradores {
  background-color: #1c1c1c; /* Fundo quase preto */;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.admDivPrincipal {
  display: flex;
  flex-direction: row;
}

.adminDiv {
  background-color: lightgrey;
  width: 88vw;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.botoesAdministrador {
  background-color: lightgrey;
  margin-top: 5px;
  padding: 0;
  padding-right: 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.botaoAcaoAdmin {
  margin: 0 2px;
  padding: 2px 5px;
  background-color: white;
  color:#1c1c1c;
  font-size: 14px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
}

.botaoAcaoAdmin:hover {
  background-color: #999999;
}

.adminPrimeiroNivel {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  padding-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.95rem;
}

.info1PrimeiroNivel {
  margin: 0;
  padding: 0;
}

.info2PrimeiroNivel {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

.adminSegundoNivel {
  width: 100%;
  margin-top: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.92rem;
}

.info1SegundoNivel {
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

.info2SegundoNivel {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

.adminTerceiroNivel {
  width: 100%;
  margin-top: 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.92rem;
}

.info1TerceiroNivel {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.info2TerceiroNivel {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

.adminQuartoNivel {
  width: 100%;
  margin-top: 5px;
  padding: 0;
  padding-bottom: 5px;
  padding-left: 4px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.92rem;
}

.info1QuartoNivel {
  margin: 0;
  padding: 0;
}

.info2QuartoNivel {
  margin: 0;
  margin-left: 5px;
  padding: 0;
}

@media screen and (max-width:580px) {
  .selOptionsAdministrador {
    width: 150px;
  }
}

@media screen and (max-width:519px) {
  .containerHome h3 {
    font-size: 0.97rem;
  }
  
  .botaoNovoAdministrador {
    font-size: 0.87rem;
  }
  
  .adminPrimeiroNivel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .info2PrimeiroNivel {
    margin-left: 0;
  }
  
  .adminSegundoNivel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .info2SegundoNivel {
    margin-left: 15px;
    font-style: italic;
  }
  
  .adminTerceiroNivel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .info2TerceiroNivel {
    margin-left: 30px;
    font-style: italic;
  }
  
  .adminQuartoNivel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .info2QuartoNivel {
    margin-left: 5px;
  }
  
}