.excCompanhiaComponent {
  width: 499px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.excCompanhiaComponent strong {
  font-size: 18px;
  margin-bottom: 5px;
}

.excCompanhiaComponent ul {
  list-style-type: none;
}

.excInputCompanhia {
  margin-bottom: 10px;
  padding: 3px 5px;
}

.botaoExcCompanhiaComponent {
  margin: 5px 5px 0 5px;
  padding: 5px 11px;
  background-color: whitesmoke;
  color:#1c1c1c;
  font-size: 14px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
}

.botaoExcCompanhiaComponentDisabled {
  visibility: hidden;
  margin: 5px 5px 0 5px;
  padding: 5px 11px;
  background-color: whitesmoke;
  color:#1c1c1c;
  font-size: 14px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
}
